<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3a972885-339c-4a9f-a243-9a2d76c43d5b/resourceGroups/mona-resource/providers/Microsoft.ContainerRegistry/registries/Mydocker20230405210135</ResourceId>
    <ResourceName>Mydocker20230405210135</ResourceName>
    <ResourceGroup>mona-resource</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://mydocker20230405210135.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8f195fb9-255f-454b-93ab-63c7031bad0e</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>